.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

.slide-img {
    width: 90%;
    margin: auto;
}

.slick-prev:before, .slick-next:before {
    color: #212529;
}

.slick-dots {
    bottom: -35px;
}

body {
	background-color: #b6b9e6;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	min-width:340px;
	margin: 0;
	padding: 0;
	color: #fffaa;
	line-height: 1.25;
	background-image: url(https://wpapers.ru/wallpapers/All/12612/1920x1080_%D0%A2%D0%B5%D0%BA%D1%81%D1%82%D1%83%D1%80%D0%B0-%D1%84%D0%B8%D0%BE%D0%BB%D0%B5%D1%82%D0%BE%D0%B2%D0%BE%D0%B3%D0%BE-%D0%B4%D0%B5%D1%80%D0%B5%D0%B2%D0%B0.jpg);
}

header, footer {
	background-color: #b6b9e6;
}

.box {
	margin: 20px auto;
	padding: 20px 15px;
	box-sizing: border-box;
	background-color: #b6b9e6;
	width: 100%;
  
}

.header-box {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.title {
	order: 2;
	margin: 0 5px;
	text-align: center;
	width: 100%;
}

.content-box {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	text-align: center;
	width: 100%;
	
}

.form-box {
	flex: 1;
	order: 3;
	margin: 10px 0;
	padding: 5px 10px;
	margin-left: auto;
    margin-right: auto;
}
.img{
	max-height: 100px;
}

/*Flex*/

@media(min-width: 800px) {
	
	.title {
		text-align: left;
	}
	
	nav {
		display: flex;
		flex-direction: row !important;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
	}
	
	.box-width {
		max-width: 960px;
		margin: 0 auto;
	}
}